@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

root {
  --dark-grey: rgba(0, 0, 0, 0.9);
  --white-text: white;
  --space-cadet: #2d3047;
  --dark-sky-blue: #93b7be;
  --citrine: #e0ca3c;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

small {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 3.3rem;
  text-align: center;
  font-weight: 500;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.button {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgb(223, 189, 0);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: goldenrod;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
  .label {
    margin-bottom: 0;
  }
}
